@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Almendra SC";
  src: url("./fonts//AlmendraSC-Regular.ttf") format('truetype');
}

body {
  font-family: "Almendra SC", sans-serif;
}